.app {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px;
  background-color: lightgray;
}

.filterName{
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #B8860B;
}

.filterHouse{
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #B8860B;
}

.chraracters{
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__card{
    margin: 10px;
    border: 1px solid #B8860B;
    border-radius: 5px;
    overflow: hidden;
  }
}