.app {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px;
  background-color: lightgray;
  height: 100vh;
  font-weight: bolder;
}

.filterName, .filterHouse{
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 3px solid #B8860B;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form1, .form2{
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  margin-right: 20px;
  color: #00008B;

}

.imgLogo {
  height: 500px;
  width: 500px;
}

.chraracters{
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__card{
    margin: 10px;
    border: 1px solid #B8860B;
    border-radius: 5px;
    overflow: hidden;
  }
  &__info {
    background-color: #B8860B;
  }
  &__name{
    padding: 10px;
    color: #00008B;
  }
  &__race{
    padding: 10px;
    color: #00008B;
  }
}